<html>
<!-- calls in partials to page -->
<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <%- include('../partials/navigation.ejs') %>
  <div class="Welcome">
    <p> Create your Quote below! </p>
  </div>
  <%- include('../partials/quoteBuilder.ejs') %>
</body>
</html>